.vs
.vscode
.idea
*.kate-swp
*.spv
*.blend*
*.lyx~
build
data/Bistro_textures
data/Bistro_outside.vks
data/quicksave.save
data/brain.blob
data/M24_06.edf
data/screenshot.*
data/results
data/Arcade_textures
data/Arcade.vks
data/attic.vks
data/attic_textures
data/living_room_day.vks
data/living_room_night.vks
data/living_room_textures
